@charset "UTF-8";
*, body, html {
    margin: 0;
    padding: 0
}

button {
    outline: none !important
}

.bubble, .functions {
    overflow-y: visible
}

#submit0, .desc button, .status, .status2, #submitCreds, #submit3, #submit {
    font-weight: 700
}

body, html {
    font-family: Helvetica Neue, Calibri, Arial, sans-serif;
    height: 100%
}

a {
    color: red;
    text-decoration: none
}

a:focus, a:hover {
    text-decoration: underline
}

header {
    height: 90px;
    background-color: red;
    z-index: 11;
    position: fixed;
    width: 100%
}

header img {
    position: relative;
    width: 450px;
    display: block;
    margin: 0 auto auto;
    transform: translateY(10px);
    transition: transform .4s ease
}

.arr, .bubble, .functions {
    position: absolute
}

header img:focus, header img:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1) translateY(10px)
}

.thumb {
    width: 100%;
    display: block;
    margin: 0 auto 6px
}

.thumb.high {
    width: auto;
    height: 150px
}

.functions {
    height: 100%;
    right: 20px
}

.fa-star {
    font-size: 20px!important;
    margin-right: 3px;
    margin-top: 5px
}

.fa-star.checked {
    color: gold
}

.bubble h1, .bubble h3 {
    color: #000
}

.functions img {
    width: 70px;
    float: left;
    margin-top: 10px;
    display: inline-block
}

#info {
    width: 48px;
    height: 48px;
    margin-right: 40px
}

.bubble {
    margin-top: 120px;
    display: none;
    z-index: 8;
    right: 0;
    width: 400px;
    max-height: 480px;
    height: calc(100vh - 150px);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: transform .3s ease;
    padding-bottom: 5px
}

.infoWrap, .bubble form {
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    overflow-x: hidden
}

.imagePopup, .infoWrap, .mailForm {
    overflow-y: auto
}

.infoBox {
    right: 99px;
    border-radius: 15px
}

.mailForm {
    height: calc(100% - 15px)
}

.bubble h1 {
    text-align: center;
    font-size: 40px
}

.infoWrap {
    height: calc(100% - 30px)
}

.g-recaptcha, input, textarea {
    display: block;
    margin: 5px 1%;
    width: 98%;
    font-size: 14px
}

textarea {
    height: 100px;
    resize: none
}

#submit0, #submit3, #submit {
    font-size: 18px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    margin: 20px 0;
    border: 1px solid #fff;
    height: 38px;
    transition: background .4s ease
}
#submit3 {
    margin-bottom: 4px;
}

.desc, .expanded {
    border-radius: 10px;
    box-shadow: 5px 3px 10px 3px rgba(0, 0, 0, .4)
}

.logo {
    margin: 30px 10%;
    width: 80%;
    transition: transform .4s ease
}

.arr {
    border-style: solid;
    width: 0;
    height: 0
}

#map, .imagePopup {
    width: 100%;
    height: calc(100% - 90px)
}

.status, .status2 {
    font-size: 12px;
    color: red
}

.green {
    color: #006400 !important
}

.top {
    border-color: transparent transparent #fff;
    border-width: 0 30px 30px;
    top: -30px;
    right: 23px
}

.fa-star:focus, .fa-star:hover, .thumb:focus, .thumb:hover {
    cursor: pointer
}

#submit0:focus, #submit0:hover, #submit3:focus, #submit3:hover, #submit:hover,
#submit:focus {
    cursor: pointer;
    background-color: #ce2b37
}

#map {
    z-index: 1;
    position: fixed!important;
    top: 90px
}

.imagePopup {
    display: none;
    position: fixed;
    z-index: 26;
    margin-top: 90px;
    background-color: rgba(255, 255, 255, .7)
}

.desc, .expanded, .imagePopup.enabled {
    display: block
}

.arrow, .desc {
    background-color: #fff
}

.contentWrapper {
    height: 100%
}

.expanded {
    margin: 10px auto auto;
    height: calc(80% - 90px)
}

.desc {
    margin-top: 20px;
    position: relative;
    padding: 8px
}

.desc.auto {
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

.arrow {
    position: absolute;
    z-index: 6;
    width: 50px;
    margin-top: calc(30vh - 90px);
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, .4);
    transition: transform .4s ease, filter .4s ease
}

.closeForm, .desc button, .goToButton {
    transition: transform .4s ease
}

.swipe {
    margin: 10px auto auto;
    position: relative;
    display: none;
    width: 100px
}

.goToButton {
    background-color: red;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 45px;
    z-index: 2
}

#original {
    right: auto;
    left: 30px
}

.desc button {
    width: 60%;
    text-align: center;
    margin: 30px auto;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 5px 0;
    background-color: red;
    border: none;
    font-size: 18px
}

.closeForm, .cross {
    width: 18px;
    position: absolute
}

.closeForm {
    margin: 10px 0 0 10px;
    filter: brightness(0)
}

.arrow:focus, .arrow:hover, .closeForm:focus, .closeForm:hover, .desc button:focus, .desc button:hover, .goToButton:focus, .goToButton:hover, .logo:focus, .logo:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1)
}

#nr1 {
    transform: scaleX(-1);
    left: 20px
}

#nr1:focus, #nr1:hover {
    transform: scale(-1.1, 1.1)
}

.cross {
    margin-top: 16px;
    filter: opacity(.4);
    transition: all .4s ease
}
.admin .cross {
    z-index: 150;
    margin-top: 3px;
}

.cross:focus, .cross:hover {
    cursor: pointer;
    filter: none;
    transform: scale(1.1, 1.1)
}

.login, .resetpasswordpage {
    background-color: red;
    overflow: hidden;
    height: auto;
}

.formToSubmit {
    display: block;
    margin-top: calc(40vh - 100px);
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    transition: opacity 0.3s ease;
}
.forgotContainer {
    position: absolute;
    width: 100%;
}
.forgotPassword {
   transition: opacity 0.3s ease, transform 0.3s ease;
   opacity: 0;
   height: 0px;
   margin-top: 0vh;
   position: relative;
   overflow: hidden;
   transform: translateY(100vh);
   pointer-events: all;
}
.forgotPassword.active {
    opacity: 1;
    height: auto;
    overflow: visible;
    transform: translateY(0vh);
}
.loginField.disabled {
    opacity: 0;
    pointer-events: none;
}

.formToSubmit input {
    height: 40px;
    margin-top: 9px;
    font-size: 19px;
    padding: 0 10px 0 10px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 274px;
}

formToSubmit h2 {
    margin-bottom: 2px;
    color: #fff;
}
#forgot {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
#submitCreds, .formToSubmit button {
    width: 99%;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 700;
    transition: background 0.4s ease;
}
.lineContainer {
    width: 100%;
    transform: translateY(-70px);
    position: absolute;
}
.lineContainer h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}
.formToSubmit button {
    height: 40px;
}
#resetPW {
    margin-top: 20px;
}

#submitCreds:hover, #submitCreds:focus, .formToSubmit button:hover,
.formToSubmit button:focus {
    background-color: #ce2b37;
    cursor: pointer;
}

.loginLogo {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    width: 70px
}

.formToSubmit .status, .status2 {
    color: #000
}
.status2 {
    margin-top: 7px;
}

.admin .loginLogo {
    top: 0;
    margin-top: 5px;
    margin-left: 5px;
    width: 60px
}

.oL {
    background-color: #ddd;
    border-bottom: 1px solid #000;
    height: 60px;
    overflow: hidden;
    z-index: 1;
}

.oL:hover, .oL:focus {
    cursor: pointer;
    background-color: #ccc;
}

.oL.active {
    background-color: #ccc;
    height: auto;
}

.oL h3, .oL li {
    margin-left: 20px;
    margin-right: 40px;
    list-style: none;
}
.dbObjs {
    position: relative;
    overflow-y: auto;
    height: calc(100% - 71px);
}
.dbObjs.extended {
    height: calc(100% - 260px);
}
.dbObjs.extended2 {
    height: calc(100% - 180px);
}
.dbObjs.extendedReviews {
    height: calc(100% - 97px);
}
.admin {
    overflow-x: hidden
}

#deleteItem, #confirmation {
    display: none
}
.leftBar {
    width: 65%;
    margin-top: 90px;
    height: calc(100% - 90px);
    border-right: 1px solid #000;
    margin-left: 0;
    float: left;
    overflow: hidden;
}
.leftBar.extended {
    width: 100%;
    overflow-x: hidden
}
.rightBar {
    width: 34%;
    top: 90px;
    height: calc(100% - 90px);
    float: left;
    overflow-y: auto;
    position: relative;
}
.leftBar.softNav, .rightBar.softNav {
    height: calc(100% - 147px);
}
#uploadBox {
    display: none;
    margin-top: 30px
}
.userMenu {
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid #000;
    border-top: none;
    border-bottom-left-radius: 5px;
    color: #000;
    font-weight: bold;
    right: 0;
    top: 90px;
    z-index: 100;
}
.userMenu ul li {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
}
.userMenu ul li:hover, .userMenu ul li:focus {
    background-color: #ddd
}
.autoComplete {
    display: none;
    width: 241.5px;
    background-color: #ddd;
    position: absolute;
    margin-left: 1%;
    transform: translateY(-5px);
    z-index: 18;
}
.insReviews {
    color: #000;
    text-align: center;
    position: absolute;
    z-index: 10;
    font-size: 16px;
    margin-top: calc(50vh - 106px);
    width: 100%;
    display: none;
}
.insReviews.extended {
    margin-top: calc(50vh - 295px);
}
.insReviews.extended2 {
    margin-top: calc(50vh - 215px);
}
.insReviews.left {
    text-align: left;
    margin-left: calc(33% - 140px);
}

.autoComplete p {
    padding: 2px 5px;
}
.autoComplete p:hover, .autoComplete p:focus {
    cursor: pointer;
    background-color: #ccc;
}

.editForm {
    width: 90%;
    display: none;
    margin-left: 5%;
    margin-top: 20px;
}
.editForm.active {
    display: inline-block
}

#title0, #title2 {
    font-size: 22px;
    margin-left: 0;
}

.rightBar h4 {
    margin-top: 10px;
    color: #000;
}

.rightBar textarea {
    margin-left: 0;
    padding: 0 4px;
    font-size: 14px;
}

.rightBar input {
    margin-left: 0;
    padding: 0 4px;
}
.ui-widget-header {
    background: #ff0000 url("images/ui-bg_highlight-soft_15_cc0000_1x100.png") 50% 50% repeat-x !important;
}
.ui-button {
    color: #fff !important;
    background: #ff0000 !important;
}

.control {
    background-color: #fff;
    min-height: 70px;
    z-index: 11;
    border-bottom: 1px solid #000
}

.admin header ul {
    margin: 0;
    margin-left: 10%;
    padding: 0;
    width: 80%;
    top: 30px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.admin header ul li {
    margin-left: 10%;
    display: inline-block;
}
.link {
    color: #fff;
    font-size: 26px;
    position: relative;
    font-weight: bold;
    transition: color 0.8s ease
}

.link:hover, .link:focus  {
    text-decoration: none;
}

.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: transparent;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.link:hover:before, .link.active:before {
    visibility: visible;
    transform: scaleX(1);
}
#link-3 {
    top: 30px;
    cursor: pointer;
    right: 20px;
    float: right;
    position: relative;
    left: auto !important;
}
.te {
    right: 5px;
    margin-top: 15px;
    position: absolute;
}
.trash {
    width: 25px;
}
.fa-edit {
    font-size: 23px;
    margin-right: 10px;
    transform: translateY(-3px);
    display: none;
}
.statusM {
    color: #c00;
    font-size: 10px;
    margin-top: 3px;
    width: 60%;
    font-weight: bold;
    margin-bottom: 5px
}
#statusMessage3 {
    position: relative;
    margin-left: 20px;
}
#field2, #ratingsField2 {
    float: right
}

.fa-user {
    color: #fff;
    font-size: 30px;
}
.noItems {
    margin-top: calc(50vh - 90px);
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ui-icon-closethick, .ui-dialog-titlebar-close {
    background-color: #eee !important;
}

#hgw {
    margin-left: 0;
    width: auto;
}
.moreOptions {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
    width: 100%;
    height: 165px;
    overflow-y: auto;
}
.ui-slider-handle {
    border-radius: 50% !important;
}
#searchField {
    font-size: 22px;
    margin-top: 20px;
    width: 240px;
    display: inline-block;
}
#extSearch {
    width: 240px;
    margin-left: 0
}
.imgAutoComplete {
    position: absolute;
    background-color: #ddd;
    width: 90%;
    transform: translateY(-5px);
}
.imgAutoList {
    cursor: pointer;
    padding: 4px 10px;
}
.imgAutoList:hover, .imgAutoList:focus {
    background-color: #bbb;
}

.confirmedSearch-1, .confirmedSearch-2 {
    display: none;
    background-color: #ddd;
    padding: 7px 10px;
    border-radius: 20px;
    margin: 3px 5px 3px 0
}
.confirmedSearch-1 span, .confirmedSearch-2 span {
    font-weight: bold;
    cursor: default;
}
.sliderHolder {
    overflow: hidden;
    height: 60px;
    width: 250px;
    margin-top: 5px;
}
.left-color {
    float: left;
    background-color: white;
    height: 14px;
    border-radius: 3px 3px 3px 3px;
    width: 225px;
}
#slider1, #slider3 {
    margin-top: 7px;
    width: 225px;
    margin-left: 10px;
    cursor: pointer;
}
#slider1 {
    background-image: none;
    background-color: red !important;
}
#slider2 {
    background-image: none;
    background-color: #fff !important;
    margin-top: 16px;
    cursor: pointer;
}
#slider4Container {
    width: 175px;
    margin-left: 22px;
}
#slider4 {
    width: 150px;
    transform: translateY(3px)
}
#slider5 {
    margin-top: 10px
}
#slider5 .left-color {
    width: 100%;
}
#slider4 .left-color {
    width: 150px;
}
.ratingsFilter {
    margin-left: 4px;
    width: 38px;
}
.filterHolder {
    min-width: 290px;
    display: none;
}
.confirmedSearch-1.active, .confirmedSearch-2.active, .filterHolder.active, .ratingsFilter, #slider4Container {
    display: inline-table
}
.cS {
    display: none;
    margin-left: 7px;
    margin-bottom: 2px;
}
#rF2 {
    margin: 0;
}
.sR {
    width: 50px;
    display: inline-block
}
#maxSize{
    float: right
}
.ui-state-default:first-of-type, .ui-widget-content .ui-state-default:first-of-type, .ui-widget-header .ui-state-default:first-of-type {
    background: white;
}
.ui-state-default:last-of-type, .ui-widget-content .ui-state-default:last-of-type, .ui-widget-header .ui-state-default:last-of-type {
    background: white;
}
.ui-slider .ui-slider-range {
    background: white;
}
.ui-slider .ui-slider-range:after {
    background:white;
    left:100%;
    right:-1000px;
}
#slider4 .ui-slider .ui-slider-range:after {
    left:100%;
    right:-200px;
}
.progressbar {
    display: none;
    margin-top: 10px;
}
.popupPreview {
    position: relative;
    margin: auto;
    height: calc(100vh - 94px);
    display: block;
    z-index: 90;
}
.popupPreview.wide {
    height: auto;
    width: 99%;
}
.conT {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}
#conTsize, #conTused {
    width: 30%;
}
#conTused {
    margin-right: 19.8px
}
#coorSearch {
    width: 200px
}
#coorSearch h4 {
    margin-top: 6px;
}
.coor-search{
    display: inline-block;
    margin-right: 4px;
    position: relative;
}
#descFilter {
    width: 210px;
    height: 128px;
    display: inline-table
}
#usedByFilter {
    height: 49px;
}
.smallNum {
    width: 75px;
    display: inline-block
}
.admin .eB, .admin #submit0, #submit2, .controlButton {
    margin-top: 20px !important;
    display: block !important;
    width: 50% !important;
    color: #fff;
    background-color: red !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    height: 30px !important;
    transition: background 0.4s ease;
    border: none;
    font-weight: 700;
}
#cU-0, #cU-2 {
    display: none !important;
}
#errorBar {
    height: 0;
    background-color: yellow;
    width: 100%;
    transition: height 0.4s ease;
    overflow: hidden;
}
#errorBar.active {
    height: 35px;
}
#errorStatus {
    font-weight: 600;
    text-align: center;
}
#errorStatus img {
    transform: translateY(4px);
}

.admin .disabled {
    display: none !important;
}
.buttonContainer {
    float: right;
    margin-right: 10px;
}
.controlButton {
    margin-left: 20px;
    float: none;
    position: relative;
    width: 140px !important;
    display: inline-block !important
}

.admin #submit0:hover, .admin #submit0:focus,
.eB:hover, .eB:focus, #submit2:hover, #submit2:focus,
.controlButton:hover, .controlButton:focus {
    background-color: #ce2b37 !important;
    cursor: pointer;
}

.admin #submit0, #submit2 {
    margin-bottom: 7px !important;
}

.imgPreview {
    width: 370px;
    cursor: pointer;
}
#imgName {
    width: 195px;
    margin-left: 0;
}
.selectPanel {
    width: 195px;
    background-color: #ddd;
    margin-top: 17px;
}
.selectPanel input {
    display: inline-block;
    width: auto;
    margin-right: 4px;
    margin-bottom: 28px;
    cursor: pointer;
}
.selectPanel input:disabled {
    cursor: default;
}
.selectPanel label {
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
    user-select: none;
}
.coor {
    width: 40%;
    margin-right: 5%;
    display: inline-table
}

.overLay {
    z-index: 5;
    width: 100%;
    position: absolute;
    background: rgb(221, 221, 221);
    background: linear-gradient(0deg, rgba(221, 221, 221, 0.8632586823792017) 0%, rgba(76, 188, 211, 0) 52%, rgba(0, 212, 255, 0) 100%);
    height: 60px;
    transform: translateY(-60px);
    display: block;
    margin-top: 0;
    pointer-events: none;
    border-bottom: 1px solid #fff
}

.overLay.active {
    display: none
}
.rightBar .cross {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px
}
.cross2 {
    width: 14px;
    margin-left: 7px;
    cursor: pointer;
}
.passwordBox {
    border: 1px solid #000;
}
.admin .bubble {
    z-index: 99;
    max-height: 317px
}
.admin .top {
    right: 2px !important
}
.admin .top.white {
    z-index: 36;
    transform: translateX(-1px);
}
.admin .top.black {
    border-color: transparent transparent #000;
    border-width: 0 31px 31px;
    z-index: 35;
    transform: translateY(-1px);
}
#fL {
    margin-top: 20px
}
.ui-button.ui-corner-all.ui-widget[disabled=disabled]{
    background-color: #777 !important;
    cursor: default !important
}
#replaceBox {
    display: none;
}
#replaceBox .eB {
    width: 270px !important;
    margin: auto;
    display: none !important
}
#replaceBox .eB.active {
    display: block !important;
    background-color: #ff0000
}
#pic3 {
    display: none;
}
.admin .disabled {
    display: none !important;
}
.selectPanel label.disabled {
    display: inherit !important;
    color: #bbb;
    cursor: default;
}
.oF {
    position: fixed;
    z-index: 10;
    height: 165px;
    width: 65%;
    pointer-events: none;
}
.oF.two {
    height: 85px
}
.oF.searchReviews {
    width: 100%;
}
.aC {
    width: 100%;
    position: absolute;
}
.dbObjs .oF, .rightBar .oF {
    height: auto;
}
.rightBar .oF {
    width: 35%
}
.dbObjs .aC.down {
    position: fixed;
    width: 65%;
}
.oF.searchReviews .aC.down {
    width: 100%
}
.rightBar .aC.down {
    width: 35%;
    position: fixed;
}
.fa-arrow-circle-up, .fa-arrow-circle-down {
    font-size: 25px;
    color: #ff0000;
    margin: 0 auto;
    cursor: pointer;
    pointer-events: all;
    text-align: center;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 0.4s ease;
}
.fa-arrow-circle-up:hover, .fa-arrow-circle-down:hover,
.fa-arrow-circle-up:focus, .fa-arrow-circle-down:focus {
    opacity: 1;
}
.aC {
    display: none;
}
.aC.up {
    top: 2px;
}
.aC.down {
    bottom: 2px
}
.insReviews.active, .autoComplete.active, #uploadBox.active, #cU-0.active, #cU-2.active,#pic3.active,.progressbar.active, .cS.active,.moreOptions.active,
.admin header, .bubble.enabled, .aC.active {
    display: block !important
}
.moreOptions.active.short {
    height: 85px;
}
#replaceFile {
    display: block;
    background-color: #ddd;
    position: relative;
    margin: 5px auto;
    padding: 5px;
    width: 95%;
    font-size: 13px;
}
#replaceSize {
    right: 3px;
    position: absolute;
}
@media all and (max-width:1531px) {
    .conT {
        float: none;
        display: inline-block;
    }
    #contAlt {
        transform: translateY(-28px);
    }
    #coorImg {
        transform: translateY(-31px);
    }
    #conTused {
        transform: translateY(-26px);
    }
}
@media all and (max-width:1300px) {
    #conTused {
        transform: translateY(0px);
        width: 265px;
    }
    #conTsize {
        margin-left: calc(33% - 190px);
        width: 38%;
    }
    #extSearch {
        width: 265px
    }
}
@media all and (max-width:1200px) {
    #descFilter {
        width: 227px;
    }
    .controlButton {
        width: 87px !important;
        margin-left: 14px;
    }
    .imgPreview {
        width: 275px;
    }
    .admin .eB, .admin #submit0, #submit2 {
        width: 200px !important
    }
    #coorImg {
        transform: translateY(0px);
    }
    #coorSearch {
        transform: translateY(-25px);
    }
}
@media all and (max-width:900px) {
    .insReviews.left {
        text-align: center;
        margin-left: auto;
    }
    .cross {
        filter: opacity(.8);
        right: 20px
    }
    .imagePopup .cross{
        margin-top: 20px
    }
    .imgPreview {
        width: 100%;
    }
    .swipe {
        display: block
    }
    .contentWrapper {
        margin-bottom: 30px
    }
    .arrow {
        margin-top: calc(30vh - 55px);
        filter: opacity(.25);
        width: 40px;
        box-shadow: none;
        border: 1px solid #000
    }
    #info, #mail {
        margin-top: 0
    }
    .desc, .desc.auto, .expanded {
        border-radius: 0;
        overflow: auto
    }
    .arrow:hover, arrow:focus {
        filter: opacity(1);
        transform: none
    }
    header img, header img:focus, header img:hover {
        transform: translateY(10px)
    }
    header {
        height: 55px
    }
    header img {
        width: 270px
    }
    #map {
        width: 100%;
        top: 55px;
        height: calc(100% - 55px)
    }
    #mail {
        width: 50px
    }
    #info {
        width: 35px;
        height: 35px;
        margin-right: 20px
    }
    .imagePopup {
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 55px;
        height: calc(100% - 55px);
        background-color: #fff
    }
    .expanded {
        height: calc(75% - 55px);
        margin-top: 0;
        box-shadow: none
    }
    .expanded.high {
        width: 100%;
        overflow: auto;
        height: auto;
        bottom: 0
    }
    .desc, .desc.auto {
        margin: 0!important;
        width: 100%!important;
        box-shadow: none
    }
    .desc .fa-star:first-child, .infoWrap, .mailForm {
        margin-left: 5%
    }
    .desc h3, .desc p {
        width: 90%;
        margin-left: 5%
    }
    .fa-star {
        font-size: 35px!important
    }
    .desc .fa-star {
        margin-top: 10px
    }
    .desc button {
        width: 70%;
        margin-bottom: 0
    }
    .closeForm:focus, .closeForm:hover, .desc button:focus, .desc button:hover, .goToButton:focus, .goToButton:hover, .logo:focus, .logo:hover {
        transform: none
    }
    .bubble {
        width: 100%;
        right: 0;
        height: calc(100vh - 60px);
        margin-top: 55px;
        border-radius: 0;
        max-height: none;
        overflow: hidden
    }
    .infoWrap, .mailForm {
        width: 90%;
        overflow-y: auto;
        min-height: 0
    }
    .logo {
        margin-top: 100px;
        width: 50%;
        margin-left: 25%
    }
    .admin header img, .admin header img:focus, .admin header img:hover {
        transform: none
    }
    .admin .loginLogo {
        top: 0;
        margin-top: 10px;
        margin-left: 10px;
        width: 40px
    }
    .adminContainer {
        top: 55px;
    }
    .leftBar {
        display: block;
        position: relative;
        width: 100%;
        border-right: none;
        margin-top: 55px;
        height: calc(100vh - 55px);
    }
    .rightBar, .arr {
        display: none;
    }
    .rightBar {
        top: 55px;
        position: absolute;
        width: 100%;
        background-color: #fff;
        height: calc(100vh - 55px);
    }
    .rightBar.active {
        display: block;
        position: absolute;
        z-index: 25;
    }
    .leftBar.softNav, .rightBar.softNav {
        height: calc(100vh - 112px);
    }
    .oL:hover, .oL:focus {
        cursor: pointer;
    }
    #link-3, .admin header ul {
        top: 15px
    }
    .admin header ul li {
        margin-left: 16.5%;
    }
    .userMenu {
        top: 55px
    }
    .fa-edit, .rightBar .cross {
        display: inline-block
    }
    .oL h3, .oL li {
        margin-right: 75px;
    }
    .conT {
        margin-left: calc(33% - 190px);
    }
    #descFilter, #coorImg, #conTsize {
        width: 265px;
    }
    #slider1, #slider3 {
        width: calc(100% - 26px);
    }
    #slider4Container {
        width: 132px;
        margin-left: 14px;
    }
    #slider4 .left-color, #slider4 {
        width: 113px
    }
    .filterHolder {
        min-width: 246px
    }
    .searchButton {
        margin-left: 9px
    }
    .oF, .aC {
        width: 100% !important;
    }
    .fa-arrow-circle-up, .fa-arrow-circle-down {
        font-size: 35px;
    }
}

@media all and (max-width:600px) {
    header img, header img:focus, header img:hover {
        transform: translateY(17px)
    }
    #info, #mail {
        margin-left: 0
    }
    header img {
        width: 160px;
        margin-left: 2%
    }
    .goToButton {
        bottom: 70px;
        position: fixed
    }
    .leaflet-bottom .leaflet-control-scale {
        bottom: 30px!important
    }
    #mail {
        margin-top: 0;
        width: 35px
    }
    #info {
        width: 25px;
        height: 25px
    }
    #searchField {
        display: block;
        margin-left: 5px;
        width: 289px
    }
    .cS {
        margin-left: 5px;
    }
    .autoComplete {
        width: 289.5px;
        margin-left: 5px
    }
    .controlButton {
        margin: 5px 7px !important
    }
    .buttonContainer {
        float: none;
        margin-right: 0;
        display: inline-table
    }
    .admin .eB, .admin #submit0, #submit2 {
        margin-left: auto;
        margin-right: auto;
    }
    .conT {
        margin-left: auto !important;
        margin-right: auto;
        width: 90% !important;
        display: block;
        transform: translateY(0px) !important;
        margin-bottom: 15px
    }
    #descFilter, .sliderHolder, #extSearch {
        width: 100%
    }
    .dbObjs {
        height: calc(100% - 96px);
    }
    .dbObjs.extended {
        height: calc(100% - 300px);
    }
    .dbObjs.extended2 {
        height: calc(100% - 220px);
    }
    .dbObjs.extendedReviews {
        height: calc(100% - 136px);
    }
    .extendedReviews.ext {
        height: calc(100% - 175px);
    }
    #slider4Container {
        width: 121px;
        margin-left: 13px;
    }
    #slider4 .left-color, #slider4 {
        width: 101px
    }
    .filterHolder {
        min-width: 208px
    }
    .ratingsFilter {
        width: 29px
    }
    .searchReviewsButton {
        margin-right: 1px !important;
        margin-left: 3px !important
    }
    .compact h3, .compact li {
        margin-left: 5px;
        margin-right: 18px;
    } 
    .compact h3 {
        font-size: 17.2px;
    }
    .confirmedSearch-1, .confirmedSearch-2 {
        width: 274px;
    }
    .cross2 {
        float: right
    }
}